In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import sqlite3

In [25]:
%load_ext sql

In [22]:
!ls ~/DSI-CHI-1/lessons/week-06/2.2-sql-joins-lab/assets/datasets/yelp/

businesses.csv  inspections.csv legend.csv      violations.csv

In [21]:
%pwd

u'/Users/christophereppig/DSI_week3'

In [27]:
%cd ~/DSI-CHI-1/lessons/week-06/2.2-sql-joins-lab/assets/datasets/yelp/

/Users/christophereppig/DSI-CHI-1/lessons/week-06/2.2-sql-joins-lab/assets/datasets/yelp

In [26]:
sqlite_db = 'starter_code.sqlite'
conn = sqlite3.connect(sqlite_db)
c = conn.cursor()

In [28]:
%ls

businesses.csv*  inspections.csv* legend.csv*      violations.csv*

In [30]:
businesses = pd.read_csv('businesses.csv')

In [31]:
inspections = pd.read_csv('inspections.csv')
legend = pd.read_csv('legend.csv')
violations = pd.read_csv('violations.csv')

In [33]:
businesses.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
0,10,TIRAMISU KITCHEN,033 BELDEN PL,San Francisco,CA,94104,37.791116,-122.403816,+14154217044

In [34]:
inspections.head(1)

   business_id  score      date     type
0           10     94  20140729  routine

In [35]:
legend.head(1)

   Minimum_Score  Maximum_Score Description
0              0             70        Poor

In [36]:
violations.head(1)

   business_id      date                                        description
0           10  20140729  Insufficient hot water or running water  [ dat...

In [37]:
businesses.columns

Index([u'business_id', u'name', u'address', u'city', u'state', u'postal_code',
       u'latitude', u'longitude', u'phone_number'],
      dtype='object')

In [38]:
create_business = "CREATE TABLE businesses (business_id varchar PRIMARY KEY, name varchar, address varchar, city varchar, state varchar, postal_code varchar, latitude varchar, longitude varchar, phone_number varchar);"

c.execute(create_business)

In [39]:
inspections.columns

Index([u'business_id', u'score', u'date', u'type'], dtype='object')

In [41]:
create_inspections = "CREATE TABLE inspections(business_id varchar PRIMARY KEY, score varchar, date varchar, type varchar);"

In [42]:
c.execute(create_inspections)

In [43]:
legend.columns

Index([u'Minimum_Score', u'Maximum_Score', u'Description'], dtype='object')

In [44]:
## column name, data type
c.execute("CREATE TABLE legend (minimum_score varchar, maximum_score varchar, description varchar);")

In [45]:
violations.columns

Index([u'business_id', u'date', u'description'], dtype='object')

In [46]:
c.execute("CREATE TABLE violations (business_id varchar PRIMARY KEY, date varchar, description varchar);")

In [48]:
## submits any SQL commands I've previously made
conn.commit()

In [50]:
results = c.execute("SELECT * FROM sqlite_master WHERE type='table';")

In [51]:
results.fetchall()

[(u'table',
  u'businesses',
  u'businesses',
  2,
  u'CREATE TABLE businesses (business_id varchar PRIMARY KEY, name varchar, address varchar, city varchar, state varchar, postal_code varchar, latitude varchar, longitude varchar, phone_number varchar)'),
 (u'table',
  u'inspections',
  u'inspections',
  4,
  u'CREATE TABLE inspections(business_id varchar PRIMARY KEY, score varchar, date varchar, type varchar)'),
 (u'table',
  u'legend',
  u'legend',
  6,
  u'CREATE TABLE legend (minimum_score varchar, maximum_score varchar, description varchar)'),
 (u'table',
  u'violations',
  u'violations',
  7,
  u'CREATE TABLE violations (business_id varchar PRIMARY KEY, date varchar, description varchar)')]

In [52]:
results = c.execute("SELECT * FROM inspections;")
results.fetchall()

[]

## ^^ there is no data in there yet and that's okay

In [53]:
legend.as_matrix()

array([[0, 70, 'Poor'],
       [71, 85, 'Needs Improvement'],
       [86, 90, 'Adequate'],
       [91, 100, 'Good']], dtype=object)

In [54]:
list(legend.to_records())   ## gives list of tuples

[(0, 0, 70, 'Poor'),
 (1, 71, 85, 'Needs Improvement'),
 (2, 86, 90, 'Adequate'),
 (3, 91, 100, 'Good')]

In [55]:
legend.values

array([[0, 70, 'Poor'],
       [71, 85, 'Needs Improvement'],
       [86, 90, 'Adequate'],
       [91, 100, 'Good']], dtype=object)

In [56]:
c.executemany("INSERT INTO legend VALUES (?, ?, ?)", legend.values)  ## each ? creates a column, after the comma is what to put in there